@import url(http://reset5.googlecode.com/hg/reset.min.css);

@import
url(http://fonts.googleapis.com/css?family=Syncopate:400,700|Open+Sans:400,300,600,700);


/*Global*/

body
{
	background:#d7d7d5 url('../img/gray_noise.png') repeat;
	font: 300 100% Open Sans;
	font:1em Avenir, Calibri, Arial;
	background-color: gray;
	color: #444;
}

h1
{
	font-family: Syncopate;
	font-size: 1.5em;
	color: #555;
	text-shadow:1px 1px 1px #e8e2dd;
}

a 
{
	color: #666;
	text-decoration: none;
}

#div1
{
	color:red;
}

.emphasize
{
		font: 300 22px Avenir;
		font-weight: bold;
		font-size: 22px;
		font-family: Avenir;
		color: #ff0000;
}

#header_menu
	{
		top:0;
		display:block;
		height:auto;
		text-align: right;
		background:#f4f4f4;
		color:#b2a59a;
	}

span.address
	{
		display: inline-block;
		float:left;
		padding: 0.85em 0.55em 0.65em 1em;
	}

span.phone
{
	color: #555;
}


li.nav_menu_item
	{
		display:inline-block;
		padding: 0.85em 0.55em 0.85em 0.45em;
		font-size: 0.95em;
	}

li.link
	{
		border-right: 1px solid #c5c5c5;
		cursor: pointer;
	}

li.link:hover
{
	color: #444;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;

}

li.contact_me
{
	color: #444;
	font-weight: 800;
	text-decoration: underline;
}

li.contact_me:hover
{
	color: #222;
}

#container
	{
		float: right;
		width: 100%;
		height: auto;

	}

	#resume_header
	{
		float:left;
		width: 100%;
		height: auto;
		text-align: right;
		border-bottom: 1px solid #c5c5c5;
		position: relative;
		top:0;
	}

	div.name 
	{
		padding: 0.65em 0.5em 0.35em 0em;
		float: left;
		color:#3b3b3b;
		font:700 2em Syncopate;
		text-shadow:1px 1px 1px #ffffff;

	}

	div.section_link
	{
		padding: 1.1em;
		float: right;
		color:#666;
		font: 300 1.2em 'Open Sans';

	}

	div.section_link > a:hover
	{
		cursor: pointer;
		color:#222;
		-webkit-transition:all 500ms ease;
		-moz-transition:all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transitiom: all 500ms ease;

	}

	div.designation
	{
		padding: 1.1em;
		float: right;
		font:700 1.2em 'Open Sans';
		background-color: #308670;
		color:white;
	}

	div.about_me
	{
		float: left;
		width: 60%;
		padding: 3em;
		/*text-align: justify;*/
		line-height: 1.65em;
		letter-spacing: 0.02em;
		background-color: rgba(207,85,58,0.90);
		color:white;

	}

	strong
	{
		font-weight: 600;
	}

	#skills
	{
		float:right;
		width: 70%;
		padding:0.35em 2em 2em 2em;
		background-color: rgba(150,150,150,0.20);
	}

	ul.skillset
	{
		font-size: 0.85em;
	}

	ul.skillset > li
	{
		display:inline-block;
		padding: 0.15em 0.75em 0.25em 0.75em;
		border-radius: 0.15em;
		margin:0.25em 0.25em 0.45em 0.25em;
		font-weight: 100;
		color:#262626;
		background-color: #afafaf;

	}

	ul.skillset > li:hover
	{
		cursor: default;
		background-color: #333;
		color: #fff;
		-webkit-transition: all 500ms ease;
		-moz-transition:all 500ms ease;
		-ms-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
	}

	#education
	{
		float:left;
		padding-bottom: 3em;
		width: 80%;
		background-color: rgba(150,150,150,0.20);
	}

	div.qualification
	{
		float:left;
		padding: 0.05em;
		font:300 1.75em 'Open Sans';
	}



	div.university
	{
		float:left;
		width: 80%;
		padding: 0.05em;
		font:300 1em 'Open Sans';

	}

	span.sub
	{
		font-size: 0.55em;
		color:#9a9a9a;
	}

	div.courses_1
	{
		float:left;
		padding-top: 1em;
		width: 50%;
		text-align: right;

	}

	div.courses_1 > ul
	{
		list-style-type: none;
		padding-right: 1em;
		line-height: 1.75em;
		text-transform: capitalize;

	}

	div.courses_1 > ul >li 
	{
		color: #666;
	}

	div.courses_1 > ul >li:nth-child(2n+1)
	{
		color: #555;
	}

	div.courses_1 > ul > li:hover
	{
		cursor: default;
		color:#222;
		-webkit-transition: all 500ms ease;
		-moz-transition:all 500ms ease;
		-ms-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;

	}

	div.courses_2
	{
		float:left;
		padding-top: 1em;
		width: 50%;
		text-align: left;
	}

	div.courses_2 > ul
	{
		border-right: none;
		border-left: 1px solid gray;
		padding-left: 1em;
	}

	#experience
	{
		float:right;
		width: 70%;
		padding:0.35em 2em 2em 2em;
		background-color: rgba(150,150,150,0.20);
	}

	div.experience_block
	{
		height: auto;
		float:left;
		width: 98%;
		border-top: 1px solid #acacac;
		margin: 2em 0.5em 0.5em 0.5em;
	}

	span.exp_title
	{
		display: inline-block;
		float:left;
		padding: 0.35em 0.15em 0.15em 0.15em;
		font: 300 1.5em 'Open Sans';
		color:#222;
	}

	span.exp_location
	{
		display: inline-block;
		width: 80%;
		float:left;
		padding: 0.15em;
		font: 300 1.5em 'Open Sans';
		color:#222;
	}

	span.exp_link
	{
		display: inline-block;
		float:right;
		padding: 0.15em;
		font: 300 0.85em 'Open Sans';
		color:#555;
	}

	ul.exp_list
	{
		margin: 1em;
		display: inline-block;
		padding: 2em;
		list-style-type: none;
		background-color: rgba(21,131,149,1);
		color: white;
	}

	ul.exp_list > li
	{
		margin-bottom: 0.5em;
	}

	#footer
	{
		float:left;
		width: 100%;
		display: block;
		bottom: 0;
		background-color: rgba(21,131,149,0.20);
	}

	div.copyright
	{
		text-align: center;
		padding: 1em;
		text-shadow:1px 1px 1px white;
	}

