<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Sign Up/Login Page</title>
    <style>
    #login{
        display: inline-block;
        text-align: center;
        padding: 2em;
        margin-top: 150px;
        margin-left: 200px;
    }

    /*#center{*/
        /*border-left: thick solid grey;*/
        /*display: inline-block;*/

    /*}*/
    #signup{
        display: inline-block;
        text-align: center;
        padding: 2em;
        margin-top: 0px ;
        margin-left: 150px;

    }


    </style>

</head>
<body>
<div id="container">
    <div id="login">
       <h1>LOGIN</h1>
        <form name="form1">
            Email: <input type=" text" name="email"/> <br/> <br/>
            Password: <input type="text" name="pwrd"/>
        </form>
        <br/>
        <button value="submit">Submit</button>
    </div>

    <div id="signup">
        <h1>SIGN UP</h1>
        <form name="form1">
            Email: <input type=" text" name="email"/> <br/> <br/>
            Password: <input type="text" name="pwrd"/><br/><br/>
            Confirm Password: <input type="text" name="c_pwd"/>
        </form>
        <br/>
        <button value="submit">Submit</button>
    </div>

</div>
</body>
</html>
