<html>
<head>
    <title>Form</title>
</head>
<body>
<form action="/uploadfile_submitted" method="POST" name="form" enctype="multipart/form-data">
    <input type="text" name="name"/>
    <input type="file" name="questions"/>
    <input type="text" name="test_name"/>
    <input type="text" name="test_description"/>
    <input type="submit" value="Submit Form"/>
</form>
</body>
</html>